.modal .content {
  min-height: 200px;
}

ol li {
  cursor: pointer;
}

.right.aligned.field {
  text-align: right;
}
.capitalize{
  text-transform: capitalize;
}
#container-fields > div {
  margin-bottom: 10px
}

.highlighted {
  border: 2px solid #dc2c2c;
}
